span{
 font-size: 50pt;
 font-weight: 700;
}
.btn{
 background-color: brown;
 color: white;
 font-size: 30pt;
 font-weight: 500;
 border: none;
 width: 70px;
 height: 70px;
 margin-left: 10px;
}

.btn:hover{
  background-color: darkred;
  box-shadow: 1px 1px 5px brown;
}
.numbers{
  padding: 50px;
}
